*{
    margin: 0;
    padding: 0;
    font-family: 'josefin sans',sans-serif;
    box-sizing: border-box;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(224, 40, 40, 0.012); 
     
  }
  
 
  body {
    margin-top: 80px; 
  }
  body {
    margin: 0;
    padding: 0;
  }

  .plan {
    margin-top: -20px;
    padding-top: 20px;
  }


  nav {
    background-color: #333; 
    width: 100%; 
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 999; 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgb(17, 238, 54);
   transition: cubic-bezier(0.86, 0, 0.07, 1);
}
.btn{
    background-color: #f9004d;
    color: rgb(16, 16, 16);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 6px 13px;
    border-radius: 30px;
   transition: transform .4s;

}
.btn:hover{
    transform: scale(1.1);
}
.logo{
    color: rgb(184, 255, 148);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}
span{
    color: rgb(248, 249, 247);
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}
.intro{
    position: absolute;
    top: 60%;
    left:16%;

}

h1{
    color: rgb(239, 255, 187);
    margin: 20px opx 20px;
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    color: #09ff73;
    font-size: 30px;

}
h3{
    color: #09ff73;
    font-size: 24px;
}
.back-video{
    position:relative;
    right:0;
    bottom:0;
    

    z-index: -1S;
}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.about{
    width: 100%;
    
    padding: 50px 0px;
    background-color: #272525;

    }
    .about img{
        height: auto;
        width: 460px;
    }
    .about-text{
        width: 600px;
    
        background-color: #4b4a4a;
        padding: 20px;
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        cursor: pointer;
        
    }
    .about-text h2{
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 45px;
    }
    .about-text h5{
        color: rgb(200, 224, 155);
        font-size: 15px;
    }
    .about-text h5 span{
        color: rgb(14, 233, 80);
        font-size: 15px;
    }
    .about-text  p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
.main{
    height: 460px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main figure{
    margin: 0px;
    padding: 5px;
    width: min-content;
    border: thin #d8e42c solid;
}
.main figure figcaption{
    padding: 8px;
    text-align: center;
    font-weight: bold;
  
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(90, 37, 236);
    cursor: pointer;
}
#Atmosphere {
    margin-top: 0.12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #242323;
    cursor: pointer;
    size-adjust: 100%;
  }
  
  .planet-details1 {
    flex: 2;
    margin-left: 30%;
    background-color:#4b4a4a; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(22, 6, 6, 0.2); 
    color: white;
  }
  h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  short-info1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
 
  
  
  
  .planet-image1 {
    flex: 1;
    text-align: center;
  }
  
  .planet-image1 img {
    max-width: 146%;
    height: auto;
    border-radius: 10px; 
    margin-left: 29%;
    
  }
  
  .video {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #272525;
    margin-top: 0.1%;
}

.video-container {
    flex: 1;
    padding: 20px;
}

video {
    width: 150%;
    max-width: 150%;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1d1b1b;
}

.description-box {
    flex: 1;
    padding: 20px;
    background-color: #4b4a4a;
    color: white;
    border: 1px solid #1d1b1b;
    border-radius: 8px;
    text-align: left;
    margin-right: 10px; /* Add some margin to separate the boxes */
}

.second-box {
    flex: 1;
    padding: 20px;
    background-color: #4b4a4a;
    color: white;
    border-radius: 17px;
    border: 1px solid #1d1b1b;
    text-align: left;
    margin-right: 10px;
}
